{:paths ["src" "resources"]
 :deps  {org.clojure/clojure                       {:mvn/version "1.12.3"}
         clj-http/clj-http      {:mvn/version "3.12.3"}
         net.sekao/odoyle-rules {:mvn/version "1.0.0"}
         instaparse/instaparse  {:mvn/version "1.4.12"}
         org.clojure/core.async {:mvn/version "1.6.681"}
         com.rpl/specter        {:mvn/version "1.1.4"}
         net.cgrand/xforms {:mvn/version "0.19.5"}
         com.taoensso/timbre {:mvn/version "6.6.1"}}}
