{:paths ["src" "resources"]
 :deps  {clj-http/clj-http      {:mvn/version "3.12.3"}
         net.sekao/odoyle-rules {:mvn/version "1.0.0"}
         instaparse/instaparse  {:mvn/version "1.4.12"}
         org.clojure/core.async {:mvn/version "1.6.681"}}}
